

<ion-content [fullscreen]="true">
      <app-crud-prod></app-crud-prod>
</ion-content>

<ion-tab-bar slot="bottom" >
  <ion-tab-button [routerLink]="['/pedidos']"  >
    <ion-icon name="receipt-outline" style="width: 30px; height: 30px;"></ion-icon>
  </ion-tab-button >
  <ion-tab-button [routerLink]="['/main']" >
    <ion-icon name="storefront-outline"style="width: 30px; height: 30px;"></ion-icon>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/prods']" >
    <ion-icon name="restaurant-outline"style="width: 30px; height: 30px;"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>